<h1>These are all the users</h1>

<table>
  <thead>
    <tr>
        <th data-field="username">Username</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user|  %>
      <tr>
        <td><%=user.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>
