<h1>Create a user</h1>

<form action="/users" method="post">

  <label for="username">username</label>
  <input placeholder="squirrel93" name="user[username]" type="text">

  <label for="username">password</label>
  <input placeholder="123" type='password' name="user[password]">

  <input type='submit' value="create">

</form>
