<div class="decks">

  <div class="row">
    <% @decks.each do |deck| %>
      <div class="col s5 center"><p class="card-panel orange z-depth-4"><a href="/decks/<%= deck.id %>"><%= deck.name.upcase %></a></p></div>
    <% end %>
  </div>
</div>


