<footer class="page-footer black">
  <div class="footer-copyright center">
    <div class="container">
    <span class="white-text">Copyright &copy; 2016 by <a class="light-blue-text" href="www.github.com/sp33drac3r">sp33drac3r</a>, <a class="light-blue-text" href="https://github.com/ftbessmann">ftbessmann</a>, <a class="light-blue-text" href="www.github.com/jonathanNicolas">jonathanNicolas</a>, and <a class="light-blue-text" href="www.kelsonic.io">kelsonic</a>.</span>
    </div>
  </div>
</footer>
