<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/custom.css">
  <title>EntANGLEd</title>
</head>
<body>
<%= erb :nav %>
  <main>
    <%= yield %>
  </main>
  <%= erb :footer %>
  <script src="/js/init.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/materialize.min.js"></script>
</body>
</html>
