<form action="/login" method="post">
  <label for="username">username</label>
  <input placeholder="ie. squirrel93" name="username" type="text">
   <label for="username">password</label>
  <input placeholder="123" type='password' name="password">
  <input type='submit' value="login">
</form>
