<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Notely</a>
    <ul id="nav-mobile" class="left">
      <li><a href="/users/new">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>
