<nav>
  <div class="nav-wrapper black">
    <a href="#" class="brand-logo center orange-text">EntAGLEd</a>
    <ul id="nav-mobile" class="left">
      <li class="black-text"><a href="/users/new">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>
